__pycache__/
.ipynb_checkpoints
.DS_Store
pickled_files/
# below directory is for seq2seq chatbot, which performs less effectivelys
seq2seq/
lyrics/
models/
# avoid sharing my personal key
genius_keys.py